<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dipeq</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/cadastro_emp.css">
</head>
<body>
    <header>
        <figure>
            <img src="Imagens/logo_dipeq.png" alt="">
        </figure>
        <form action="" class="pesquisa">
            <input type="image" id="lupa" src="Imagens/lupa.png" alt="">
            <input type="text" id="barra" placeholder="Pesquisar empresa">
        </form>
        <a href="cadastro_emp.html" id="cadastrar">
            <button type="submit">Cadastrar Empresa</button>
        </a>
    </header>
    <main>
        
    </main>
</body>
</html>