<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div id="fundo_login">
        <img src="Imagens/background_login.png" alt="menina desenhada estudando no pc">
    </div>
    <div id="formulario">
        <figure>
            <img src="Imagens/logo_dipeq.png" alt="logo dipeq">
        </figure>
        <h1>Login</h1>
        <form action="index.html">
            <input type="text" id="matricula" placeholder="Matrícula">
            <input type="password" id="senha" placeholder="Senha">
            <a href="">Esqueceu a senha?</a>
            <input type="submit" value="Acessar">
        </form>
    </div>
</body>
</html>